---
title: FirstPage.html.erb
---



// First selections

<section id="(First Slide)">
<p>Spina bifida is two words.</p>
<h3>Not a sentence.</h3>
</section>


<section id="(Slider-One)">
<ul>
<li>
<h2>Spina bifida is two words. Not a sentence.</h2>
<h3>Spina bidifa is the most common birth defect in the US, more common than muscular dystrophy, cerebral palsy, and down syndrome.</h3>
<img src="">    
</li>
    
<li>
<h2>What is Spina Bifida?</h2>
<span><img src=""><h3>Subhead</h3><p>Wir bieten Ihnen handverlesene und exklusive Unterkünfte an </p></span>
<span><img src=""><h3>Subhead</h3><p>Wir bieten Ihnen handverlesene und exklusive Unterkünfte an </p></span>
<span><img src=""><h3>Subhead</h3><p>Wir bieten Ihnen handverlesene und exklusive Unterkünfte an </p></span>
</li>
</ul>  
</section>


<section id="fact-one"><h2>The biggest misconception is that life is hard. And it’s not. 
That we’re sad. And we’re not.”"</h2><p>-Kelly, Parent Grayden’s Mom</p>
</section>

<section id="(What Now)">
<h1>What now?</h1>
<h2>For parents and children living with spina bifida, there’s always a “now what?” that comes next. No matter if you just heard the words, or have known the diagnosis for years, every next step is a step into the unknown. But with the right community of people by your side, those steps don’t have to be taken alone.</h2>
<span>
<p>Member Benefits</p>
<p>Join our community and access a wide range of benefits for you and your child.</p>
<p>Community Resources</p>
<p>From adaptive sports to therapy, these local resources provide opportunities.</p>
<p>Learning opportunities</p>
<p>Let us help you through the need for IEPs, special education and special needs trust.</p>
</span>
</section>

<section id="Slider-Two">
<ul>
<li>
<h2>This is Grayden</h2>
<p></p>
<p>When Kelly learned her son, Grayden, would have spina bifida, she was worried what life would be like for him—not to mention herself, her husband, and her other son, who was 18 months. Kelly and her husband decided to undergo in-utero surgery, which is becoming a more accessible option. But there were still many concerns. If only then, she could see what he son would be like today—exploring the outdoors, kicking the soccer ball with his brother, enjoying all kinds of music, and, like and kid his age, withholding his toys for himself. </p>
</li>
</ul>
</section>

<section id="(Stroll)">
<span><h2>Roll with us.</h2><p>Every year we host a family friendly event built to raise awareness about spina bifida and to celebrate those living with it. 
Learn more about Roll N’ Stroll »</p></span>
</section>


<section id="(Tabs Header One)">
<span><p>We’re here. We care.</p><p>There are plenty of reasons to join our community. We hold events. We offer financial assistance to attend educations conferences. We offer resources and scholarships. But if you ask any one of our members, they’ll tell you the same: the biggest group benefit is the relationships they’ve established with each other. </p><p>Who we are</p><p>WM spina bifida is a support system for families living with spina bifida.</p><p>Partners</p><p>We are proud to partner with a variety of West Michigan organizations.</p><p>Membership</p><p>We are stonger together. Let us help you through the “now what?” moments.</p></span>
</section>

<section id="Tabs Slides One">
    
<ul>
<li>
<h2>Meet the board</h2>   
<p>Our Board of Directors focuses on ways to help those living with spina bifida in West Michigan. We meet throughout the year to plan events like our Annual Stroll N Roll, foster community and advocate for awareness in the West Michigan region.</p>
</li>        
</ul>
<span><img src=""><img src=""><img src=""><img src=""><img src=""><img src=""><img src=""></span>
</section>


<section id="fact-two"><h2>At first, I worried about what Grayden would take away from our lives. I never could have imagined how much he would add.”</h2><p>-Leigh, Greyson’s Mom</p>
</section>


<section id="(Tabs Header Two)">
<span><p>Get Involved.</p><p>No matter who you are, whether your life has been affected by spina bifida or not, you have a valuabe place in our community. Here are a few ways you can get involved.</p>
<p>Upcoming Events</p><p>WM Spina Bifida plans events throughout the year, the largest being Stroll ’N Roll.</p>
<p>Volunteer</p><p>Whatever your interest and skills may be, we’ve got a place for you.</p>
<p>Donate</p><p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga. Sam facia corerci</p></span>
<p>Say hello</p><p>Support the advocacy efforts, scholarship funding and services of WM Spina Bifida</p>
</section>

<section id="Tabs Slides Two">

<h2>Volunteer opportunities</h2> 
<ul>
<li>  
<p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga. Sam facia corerci officie ntemporit fugiamusda aut vero dellique volorrovid quosand anihicaecti ditate sus.</p>
<p>Toribus, quiam aut a num a dolorpos alibusae num quam consectur sumquae ad molor autectis qui dit, ipsum ellum quae mo</p>
</li>        
</ul>

<ul>
<li>  
<p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga. Sam facia corerci officie ntemporit fugiamusda aut vero dellique volorrovid quosand anihicaecti ditate sus.</p>
<p>Toribus, quiam aut a num a dolorpos alibusae num quam consectur sumquae ad molor autectis qui dit, ipsum ellum quae mo</p>
</li>        
</ul>
    
<ul>
<li>  
<p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga. Sam facia corerci officie ntemporit fugiamusda aut vero dellique volorrovid quosand anihicaecti ditate sus.</p>
<p>Toribus, quiam aut a num a dolorpos alibusae num quam consectur sumquae ad molor autectis qui dit, ipsum ellum quae mo</p>
</li>        
</ul>
</section>


// Contact section

<section id="(Contact)">
<h2>Get in touch</h2>
<p>We are always looking for new resources, programs & events that will enhance the lives of the West Michigan Spina Bifida community.</p>
<p>West Michigan Spina Bifida Organization</p>
<p>235 Wealthy SE</p>
<p>Grand Rapids, MI 49503</p>
    
<form action="" method="post">
<p>Your name</p><input type="text" value="" name="Name" id="Name">
<p>Email address</p><input type="text" value="" name="Email" id="Email">
<p>Message</p><textbox col="" row="" name="Message" id="Message"></textbox>
<input type="submit" value="submit">   
</form>
<img src="">
</section>