---
title: Footer.html.erb
---

<section>
<span>
<ul>
<li>
<p>West Michigan Spina Bifida Organization</p>
<p>235 Wealthy SE</p>
<p>Grand Rapids, MI 49503</p>
</li>
</ul> 
    
<ul>
<li>
<a href="">Truth</a>
<a href="">Support</a>
<a href="">Community</a>
<a href="">Contribute</a>
<a href="">Contact</a>
</li>
</ul>
    
<ul>
<li>
<a href="">Visit us on Facebook</a>
</li>
</ul>       
</span>
<p>© 2012 West Michigan Spina Bifida Organization.</p>
</section>