// customize bootstrap variables here:
@import "compass";
@import "bootstrap";
@import "font-awesome";

// FONTS
$raleway: 'Raleway', 'sans-serif';

// COLORS
$white: #FFFFFF;
$black: #3a4243;
$blue:  #00afa7;
$red:   #ea652f;
$green: #b0d136;
$gray:  #565f61;
$stone: #abb8b8;

$red80:    #ee8460;
$blue80:   #3abfba;
$green80:  #c1da6a;

$blue30:    #b9e2e1;
$red30:   #f9d1c4;
$green30:  #e7f0c7;

// Basic Vertical Gap
$vgap: 30px;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
.sections-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Custom page CSS
-------------------------------------------------- */
.container-fluid {
  padding-left: 2%;
  padding-right: 2%;
}

.container-fluid .credit {
  margin: 20px 0;
}

.page-footer {
  font-family: $raleway;
  font-size: 1.33em;
  line-height: 1.6em;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    display: inline-block;
    padding: 15px 0;
    color: $gray;
  }

  @media (max-width: 767px) {
    font-family: $raleway;
    font-size: 1.33em;
    line-height: 1.6em;

    ul {
      padding: 0;
      list-style-type: none;
    }

    a {
      color: $gray;
    }
  }
}


h1,h2,h3,h4 {
  font-family: $raleway;
}

header h3 {
  background: #ffcc33;
  padding:10px;
  border-radius:3px;
  font-size:34px;
  padding:12px 10px 6px 10px;
}

.sections-wrapper > .container-fluid {
  padding: 0;
}

// Global Nav Styling
.nav > li > a {
  color: lighten($gray, 20%);
  text-align: center;

  &:hover,
  &:focus {
    background: transparent;
    color: darken($gray, 30%);
  }
}

// Header Container
.header-nav {
  width: 100%;
  position: static;
  background-color: $white;
  font-family: $raleway;
  text-transform: uppercase;
  border-width: 0;
}

// Navigation Primary Vertical Displacement
.header-nav .container-fluid {
  padding-top: $vgap;
  padding-bottom:  $vgap;
}

.masthead {
  margin-top: $vgap*3.5;
  color: $white;
  background: $black;
}

.header-nav.affix {
   position: fixed;
   top: 0;
   z-index: 10;
   -webkit-transition: all .6s ease-in-out;
}

//identity
.main-identity {
  float: left;
  width: 200px;
  margin: 0;
  overflow: hidden;

  a {
    width: 100%;
    @include inline-block;
    background: url('/images/logo.png');
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
    font-size: 42px;
    text-indent: -9000px;
    outline: none;
  }
}

.collapse {
  @media (min-width: 767px) {
    display: block;
  }
}

// NAVBAR
.navbar-container {
  @media (min-width: 767px) {
    float: right;
  }

  @media (max-width: 767px) {
    clear: both;
  }
}

// Nav-Items
.nav-items > li {
  @media (min-width: 767px) {
    display: inline-block;
    width: auto;
  }
}

.nav > .nav-item > a {
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.nav-items > .active > a,
.nav-items > .active > a:focus {
  background: transparent;
  color: darken($gray, 50%);
}

.nav-items > .active > a:hover {
  background: transparent;
}

.nav-item {
  @media (max-width: 767px) {
    width: 100%;
    border-top: 1px solid #ddd;

    &:first-child {
      border-top: none;
    }
  }
}

// nav-trigger-small
.navbar-trigger-container {
  float: right;

  @media (min-width: 767px) {
    display: none;
  }
}

.navbar-trigger {
  color: $gray;
  font-size: 2em;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($gray, 30%);
    outline: 0;
  }
}


// component - divider
.divider-mini {
  width: 100%;
  @include clearfix;

  .blank-hr {
    float: left;
    width: 100%;
    height: 8px;
    background-color: $white;
  }

  .color-hr {
    float: left;
    bottom: 0;
    width: 33.33%;
    height: 8px;
  }

  &.header {
    .color-hr {
      height: 90px;
    }
  }
  .red {
    background-color: $red80;
  }
  .green {
    background-color: $green80;
  }
  .blue {
    background-color: $blue80;
  }
}

.divider {
  height:60px;
}

.panel {
  border-width:0;
}

// carousel
.carousel-control.left,
.carousel-control.right {
  vertical-align: middle;
  background-image: none;
  font-size: 40px;
}

.carousel {
  .item {
    height: 100%;
    background-size: inherit;
  }
}

//blockquote
blockquote {
  position: relative;
  margin: 15px;
  padding: 15px 60px;

  border-left: 0;
  color: $blue80;
  font-family: $raleway;
  font-size: 3em;
  quotes: "\201C""\201D""\2018""\2019";

  footer {
    color: $blue80;
  }
}

.quote-wrapper:before,
 .quote-wrapper:after {
  position: absolute;
  top: 0em;
  line-height: 0.8em;
  font-size: 420px;
}

.quote-wrapper:before {
  left: -126px;
  content: "\201C";
}

.quote-wrapper:after {
  right: -126px;
  content: "\201D";
}

.quote-wrapper p {
  display: inline;
  font-weight: 700;
  font-size: 42px;
}


.snippet-block {
  padding-left: 60px;
  padding-right: 60px;
  @include clearfix;


  h1, p, a {
    color: $blue80;
  }

  h1 {
    font-family: $raleway;
    font-size: 2.35em;
    margin: 0.67em 0;
  }

  p {
    padding: 20px 0;
    line-height: 1.35;
    font-size: 1.35em;
  }
}

//sections
.masthead {
  min-height: 693px;
  height: auto;

  background: url('../images/introduction-01.jpg') no-repeat center ($vgap*3.5) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;

  h1 {
    margin-top: 300px;
    padding: 20px;
    line-height: 1.12;;
  }

  small {
    color: $white;
  }
}

.section-header {
  padding: 15px 0;

  h1, h2, h3, p, strong, a {
    color: $white;
  }

  h1 {
    font-size: 2.35em;
  }

  .description {
    margin-bottom: 24px;
    font-size: 1.35em;
    line-height: 1.32;
  }

  a:hover {
    text-decoration: none;
  }
}

.section-nav {
  border-bottom: 0;
}

.section-nav > .section-nav-item {
  @include box-sizing('border-box');

  > a {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: none;
    text-decoration: none;
    outline: none;

    .boundary-box {
      display: block;
      padding: 20px;
    }

    strong {
      display: block;
      font-weight: bold;
      font-size: 1.05em;
      line-height: 1.5em;
    }

    &:hover,
    &:focus {
      background-color: transparent;

      .boundary-box {
        border: 1px solid $white;
      }

      strong,
      .section-nav-item-detail {
        color: $white;
      }
    }
  }

  &.active {
    > a {
      .boundary-box {
        border: 1px solid $white;
      }
    }

    .tab-indicator {
      position: relative;
      bottom: -5px;
      display: inline-block;
      width: 0;
      height: 0;
      margin: 0 auto;

      @media (max-width: 767px) {
        outline: 1px solid red;
        display: none;
      }
    }

    strong,
    .section-nav-item-detail {
      color: $white;
    }
  }
}

.section-nav-item-detail {
  display: none;
  font-size: 1.33em;
  line-height: 1.6em;
}


.exploring {
  .section-header {
    background: $red;
  }

  .section-nav-item {
    &.active .tab-indicator {
      border-left: $vgap solid transparent;
      border-right: $vgap solid transparent;
      border-bottom: $vgap solid $red80;
    }

    strong,
    .section-nav-item-detail {
      color: $red80;
    }

    > a .boundary-box {
      border: 1px solid $red80;
    }
  }

  .info-content-container {
    background: $red80;
  }

  .tab-content h3 {
    color: $red30;
  }
}

.meeting {
  .section-header {
    background: $green;
  }

  .section-nav-item {
    &.active .tab-indicator {
      border-left: $vgap solid transparent;
      border-right: $vgap solid transparent;
      border-bottom: $vgap solid $green80;
    }

    strong,
    .section-nav-item-detail {
      color: $green80;
    }

    > a .boundary-box {
      border: 1px solid $green80;
    }
  }

  .info-content-container {
    background: $green80;
  }

  .tab-content h3 {
    color: $green30;
  }
}

.caring {
  .section-header {
    background: $blue;
  }

  .section-nav-item {
    &.active .tab-indicator {
      border-left: $vgap solid transparent;
      border-right: $vgap solid transparent;
      border-bottom: $vgap solid $blue80;
    }

    strong,
    .section-nav-item-detail {
      color: $blue80;
    }

    > a .boundary-box {
      border: 1px solid $blue80;
    }
  }

  .info-content-container {
    background: $blue80;
  }

  .tab-content h3 {
    color: $blue30;
  }
}

.tab-content {
  padding-top: 10px;
  padding-bottom: 250px;

  h1, h2, h3, p, ul, strong, a {
    color: $white;
  }

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 1.25em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.18em;
    font-weight: 600;
    @include column-break-after(avoid);
  }

  ul {
    line-height: 1.55;

    @media (min-width: 767px) {
      margin: 0;
      padding: 0;
    }

    > li {
      list-style-type: none;
    }
  }
}

.information-roll {
  overflow: hidden;
}

@media (min-width: 767px) {
  .section-nav-item {
    .boundary-box {
      margin-bottom: 30px;
    }

    strong {
      display: block;
      font-weight: bold;
      font-size: 1.8em;
      line-height: 1.5em;
    }
  }

  .section-nav-item-detail {
    display: inline;
  }

  .information-roll {
    @include column-count(4);
    @include column-gap(2em);

    > li {
      display: inline-block;
    }
  }

  .section-header {
    padding: 30px 0 0;

    h1 {
      font-size: 4.55em;
    }

    .description {
      font-size: 2.35em;
    }
  }

  .snippet-block {
    h1 {
      font-size: 5.2em;
    }

    p {
      margin: 0;
      padding: 60px 0;
      line-height: 1.4;
      font-size: 1.35em;
    }
  }

  .opening-content {
    padding-right: 30%;
    line-height: 1.5em;
  }
}
