<div class="divider-mini" id="involved">
  <span class="blank-hr"></span>
</div>

<section class="caring">
  <div class="section-header">
    <div class="container-fluid">
      <div class="row">
        <h1>Get Involved</h1>

        <p class="description">No matter who you are, whether your life has been affected by spina bifida or not, you have a valuable place in our community. Here are a few ways you can get involved.</p>
      </div>

      <!-- Nav tabs -->
      <ul class="nav section-nav row">
        <li class="active section-nav-item col-sm-3 col-xs-12">
          <% link_to '#events', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Upcoming Events</strong>
              <span class="section-nav-item-detail">WM Spina Bifida plans events throughout the year, the largest being Stroll 'N Roll.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#volunteer', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Volunteer</strong>
              <span class="section-nav-item-detail">Whatever your interest and skills may be, we've got a place for you.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#donate', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Donate</strong>
              <span class="section-nav-item-detail">Support the advocacy efforts, scholarship funding and services of WM Spina Bifida.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#hello', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Say Hello</strong>
              <span class="section-nav-item-detail">Support the advocacy efforts, scholarship funding and services of WM Spina Bifida.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>
      </ul>
    </div><!--/container-->
  </div>

  <div class="info-content-container">
    <div class="container-fluid tab-content">
      <div class="tab-pane fade in active" id="events">
        <h2>Upcoming Events</h2>
        <p>The Annual Stroll N Roll is a family friendly event held to raise awareness about Spina Bifida and to celebrate those living with it. All proceeds are used for programs and services for people living with SB.</p>
      </div>

      <div class="tab-pane fade" id="volunteer">
        <h2>Volunteer opportunities</h2>
        <p>Whether you're interested in hosting a support group, passing out brochures or helping with the annual Stroll N Roll, we would love to have your help! Contact us using the button below and we will find a place for you!</p>
      </div>

      <div class="tab-pane fade" id="donate">
        <h2>Donate</h2>
        <p>Any donation helps, big or small.[Donation Form]</p>
      </div>

      <div class="tab-pane fade" id="hello">
        <h2>Say Hello</h2>
        <p></p>
      </div>
    </div><!--/container-->
  </div>
</section>
