<div class="divider-mini" id="community">
  <span class="blank-hr"></span>
</div>

<section class="meeting article">
  <div class="section-header">
    <div class="container-fluid">
      <div class="row">
        <h1>We're here. We care</h1>
        <p class="description">There are plenty of reasons to join our community. We hold events.
        We offer financial assistance to attend educations conferences.
        We offer resources and scholarships. But if you ask any one of our
        members, they’ll tell you the same: the biggest group benefit is the
        relationships they’ve established with each other.</p>
      </div>

      <!-- Nav tabs -->
      <ul class="nav section-nav row">
        <li class="active section-nav-item col-sm-4 col-xs-12">
          <% link_to '#about_wmsbo', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Who we are</strong>
              <span class="section-nav-item-detail">WM spina bifida is a support system for families living with spina bifida.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#partners', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Partners</strong>
              <span class="section-nav-item-detail">We are proud to partner with a variety of West Michigan organizations.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#membership', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Membership</strong>
              <span class="section-nav-item-detail">We are stronger together. Let us help you through the "now what?" moments.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>
      </ul>

    </div><!--/container-->
  </div>

  <div class="info-content-container">
    <div class="container-fluid tab-content">
      <div class="tab-pane fade in active" id="about_wmsbo">
        <div class="row">
          <h2>Meet the board</h2>
          <p>Our Board of Directors focuses on ways to help those living with Spina Bifida in West Michigan. We meet throughout the year to plan events like our Annual Stroll N' Roll, foster community, and advocate for awareness in the West Michigan Region.</p>

          <ul class="information-roll">
            <li>
              <strong>Nick Phillips</strong>
              President
            </li>

            <li>
              <strong>Jodie Anderson</strong>
              Vice President
            </li>

            <li>
              <strong>Leigh Gibbs</strong>
              Treasurer
            </li>

            <li>
              <strong>Emily Bush</strong>
              Secretary
            </li>

            <li>
              <strong>Jamie Freitag</strong>
              Board member
            </li>

            <li>
              <strong>Kelly Goff</strong>
              Board member
            </li>

            <li>
              <strong>Shannan Kooistra</strong>
              Board member
            </li>

            <li>
              <strong>Carol Carpenter</strong>
              Board member
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="partners">
        <h2>Partners</h2>
        <ul class="information-roll">
          <li>
            <h3>Mary Free Bed Foundation (logo)</h3>
          </li>
          <li>
            <h3>Helen DeVos Children’s Hospital  (logo)</h3>
          </li>
          <li>
            <h3>Family Hope Foundation (listed)</h3>
          </li>
          <li>
            <h3>University of Michigan (logo)</h3>
          </li>
        </ul>
      </div>

      <div class="tab-pane fade" id="membership">
        <h2>Letter from the Board</h2>
        <p>Our parents are down to earth and friendly. Each member is full of personality and contributes to the dynamic of the group. We rely on each other for advice and encouragement, knowing that every parent has a "now what" in front of them that another member has already been through.</p>
        <p>As a member, you have access to a wide variety of events, resources, and scholarships.</p>
        <p>We would love to share our lives with you to!</p>
      </div>
    </div><!--/container-->
  </div>
</section>
