<div class="divider-mini" id="involved">
  <span class="blank-hr"></span>
</div>

<section class="caring article">
  <div class="section-header">
    <div class="container-fluid">
      <div class="row">
        <h1>Get Involved</h1>

        <p class="description">No matter who you are, whether your life has been affected by spina bifida or not, you have a valuable place in our community. Here are a few ways you can get involved.</p>
      </div>

      <!-- Nav tabs -->
      <ul class="nav section-nav row">
        <li class="active section-nav-item col-sm-3 col-xs-12">
          <% link_to '#events', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Upcoming Events</strong>
              <span class="section-nav-item-detail">WMSBO plans events throughout the year, the largest being our Stroll 'N Roll.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#volunteer', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Volunteer</strong>
              <span class="section-nav-item-detail">Whatever your interest and skills may be, we've got a place for you.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#donate', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Donate</strong>
              <span class="section-nav-item-detail">Support the advocacy efforts, scholarship funding and services of WMSBO.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-3 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#hello', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Say Hello</strong>
              <span class="section-nav-item-detail">Support the advocacy efforts, scholarship funding and services of WM Spina Bifida.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>
      </ul>
    </div><!--/container-->
  </div>

  <div class="info-content-container">
    <div class="container-fluid tab-content">
      <div class="tab-pane fade in active" id="events">
        <h2>Upcoming Events</h2>

        <p class="opening-content">
          We provide many great programs &amp; events every year for our local
          spina bifida community. Below is a list of the things we have
          scheduled for 2015. Watch our Facebook page for further details about exact times &amp; dates.
          If you would like further details about any of the events listed, please contact us!
          
          <br><br><strong>OUR PROGRAMS &amp; EVENT</strong>

          <span class="event-item">
            <% data.events.item.each do |f| %>
              <br><br>
              <% if "#{f.link}" != "" %>
                <% link_to "#{f.link}", :target => "_blank" do %>
                  <strong><%= f.title %></strong>
                <% end %>
              <% else %>
                <strong><%= f.title %></strong>
              <% end %>
              <br><%= f.description %>
              <br><%= f.timeframe %>
            <% end %>
          </span>
        </p>
      </div>

      <div class="tab-pane fade" id="volunteer">
        <h2>Volunteer opportunities</h2>
        <p class="opening-content">Whether you're interested in hosting a support group, passing out brochures, or helping with the annual Stroll N Roll, we would love to have your help! Contact us at <a href="mailto:wmisbo@gmail.com?subject=Volunteer&body=I would like to make myself available for volunteering. Please list the best time and way to contact you.">wmisbo@gmail.com</a> we will find a place for you!</p>
      </div>

      <div class="tab-pane fade" id="donate">
        <h2>Donate</h2>
        <p>Any donation helps, big or small.</p>
        <!-- PayPalDonateButton START -->
         <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4CWX6AZDT56BE">
          <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <!-- PayPalDonateButton END -->
        <p>Thank You!</p>
      </div>

      <div class="tab-pane fade" id="hello">
        <h2>Say Hello</h2>
        <div class="opening-content">
          <p>You can reach us through the e-mail address wmisbo@gmail.com.</p>
          <p>We look forward to hearing from you. We are always looking for new resources, programs &amp; events that will enhance the lives of the West Michigan Spina Bifida community.</p>          
        </div>
        <!-- Facebook Badge START -->
        <a href="http://www.facebook.com/pages/West-Michigan-Spina-Bifida-Organization/323107167707286" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="West Michigan Spina Bifida Organization"></a><br/><a href="http://www.facebook.com/pages/West-Michigan-Spina-Bifida-Organization/323107167707286" target="_TOP" title="West Michigan Spina Bifida Organization"><img src="http://badge.facebook.com/badge/323107167707286.2735.1337996407.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/business/dashboard/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!"></a><!-- Facebook Badge END --><br>
      </div>
    </div><!--/container-->
  </div>
</section>
