<div class="divider-mini" id="community">
  <span class="blank-hr"></span>
</div>

<section class="meeting article">
  <div class="section-header">
    <div class="container-fluid">
      <div class="row">
        <h1>We're here. We care</h1>
        <p class="description opening-content">There are plenty of reasons to join our community. We hold events. We offer financial assistance. We provide resources and scholarships. But, if you ask any one of our members, they'll tell you the same: the biggest benefit is the relationships they've established with each other.</p>
      </div>

      <!-- Nav tabs -->
      <ul class="nav section-nav row">
        <li class="active section-nav-item col-sm-4 col-xs-12">
          <% link_to '#about_wmsbo', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Who we are</strong>
              <span class="section-nav-item-detail">WMSBO is a support system for families living with spina bifida.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#partners', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Partners</strong>
              <span class="section-nav-item-detail">We are proud to partner with a variety of West Michigan organizations.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#membership', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Membership</strong>
              <span class="section-nav-item-detail">We are stronger together. Let us help you through the "now what?" moments.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>
      </ul>

    </div><!--/container-->
  </div>

  <div class="info-content-container">
    <div class="container-fluid tab-content">
      <div class="tab-pane fade in active" id="about_wmsbo">
        <div class="row">
          <h2>Meet the board</h2>

          <p class="opening-content">Our Board of Directors focuses on ways to help those living with Spina Bifida in West Michigan. We meet throughout the year to plan events (like our Annual Stroll N' Roll), foster community, and advocate for awareness in the West Michigan region.</p>

          <ul>
            <li>
              <strong>Nick Phillips</strong>
              President
            </li>

            <li>
              <strong>Jodie Anderson</strong>
              Vice President
            </li>

            <li>
              <strong>Leigh Gibbs</strong>
              Treasurer
            </li>

            <li>
              <strong>Emily Bush</strong>
              Secretary
            </li>

            <li>
              <strong>Jamie Freitag</strong>
              Board member
            </li>

            <li>
              <strong>Kelly Goff</strong>
              Board member
            </li>

            <li>
              <strong>Shannan Kooistra</strong>
              Board member
            </li>

            <li>
              <strong>Carol Carpenter</strong>
              Board member
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="partners">
        <h2>Partners</h2>
        <ul class="information-roll">
          <li>
            <h3>Mary Free Bed Foundation</h3> <%= image_tag '/images/logo-mary-free-bed.jpg' %>
          </li>
          <li>
            <h3>Helen DeVos Children's Hospital</h3> <%= image_tag '/images/logo-helen-devos.jpg' %>
          </li>
          <li>
            <h3>Family Hope Foundation</h3> <%= image_tag '/images/logo-family-hope-foundation.jpg' %>
          </li>
          <li>
            <h3>University of Michigan</h3> <%= image_tag '/images/logo-uofm.jpg' %>
          </li>
        </ul>
      </div>

      <div class="tab-pane fade" id="membership">
        <h2>Letter from the Board</h2>
        <div class="opening-content">
          <p>Our organization strives to provide families affected by Spina Bifida a support system that fosters a strong sense of community, raises awareness of the condition, advocates for each unique individual’s highest level of independence, and creates partnerships that promote Spina Bifida in a positive light. </p>
          <p>As a member, you have access to a wide variety of events, resources, and scholarships.</p>
          <p>We would love to share our lives with you too!</p>
        </div>
      </div>
    </div><!--/container-->
  </div>
</section>