---
title: Community (REMOVE: Our Community)
---

<h1>Our Community</h1>

<h2>Who We Are</h2>
<p>WM Spina Bifida is a support system for families living with spina bifida.</p>

<h2>Partners</h2>
<p>We are proud to partner with a variety of West Michigan organizations.</p>

<h2>Membership</h2>
<p>We are stronger together. Let us help you through the “now what.”</p>

<section id="(Who We Are)">
  <p>Our Board of Directors focuses on ways to help those living with spina bifida in West Michigan. We meet throughout the year to plan events like our Annual Stroll N Roll, foster community and advocate for awareness in the West Michigan region.</p>
[board pictures, names & title]
</section>

<section id="(Partners)">
  <ul>
    <li>Mary Free Bed Foundation (logo)</li>
    <li>Helen DeVos Children’s Hospital (logo)</li>
    <li>Family Hope Foundation (listed)</li>
    <li>University of Michigan (logo)</li>
  </ul>
</section>

<section id="(Membership)">
  <h2>Letter from the Board</h2>
  <p>Our parents are down to earth and friendly. Each member is full of personality and contributes to the dynamic of the group. We rely on each other for advice and encouragement, knowing that every parent has a “now what” in front of them that another member has already been through.</p>
  <p>As a member you have access to a wide variety of resources, discounts and scholarships.</p>
  <p>We would love to share our lives with you to!</p>
  <div>[Benefits]</div>
  <div>[Join Us]</div>
</section>

























